* {
	padding:0;
	margin:0;
}

body {
	font-family: Tahoma;
}

ul{
	list-style: none;
	margin: 2em;
}

li{
	background-color: #A69E76;
	border: 4px solid rgba(0,0,0,0.2);
	color: white;
	cursor: pointer;
	letter-spacing: 0.1em;
	margin-right: 0.5em;
	padding: 1em;
	text-align: center;
	display: inline;
}

li:hover{
	background-color: #D1C895;	
}

@media screen and (max-width:44em) {
	li {
		display: block;
		margin-top: 0.5em;
	}
}
