* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Futura, sans-serif;
  padding: 10px 50px 200px;
  background: rgba(92,84,45,0.6);
  background-size: 300px 300px;
  line-height: 1.5em;
  color: #444444;
}

img {
  max-width: 100%;
  display: block;
}
