<!DOCTYPE html> 
<html lang="en">
    <head> 
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width,initial-scale=1.0"> 
        <title>FlexBox</title> 
 
        <link rel="stylesheet" href="styles/base.css" media="screen">

    </head> 
    <body>
        <section id="container">
            <div id="lime"><img src="media/a.jpg" /></div>
            <div id="orange"><img src="media/b.jpg" /></div>
            <div id="blue"><img src="media/c.jpg" /></div>
            <div id="green"><img src="media/d.jpg" /></div>
        </section>  
 
   </body>
</html>
