body {
	font-family: "Roboto Condensed", sans-serif;

}

h4{
	margin: 0 auto;
	padding: 0.4em;
	text-align: left;
	font-size: 1.6em;
}

#quote:before {
	content: "$";
	font-size: 2.8em;
	position: relative;
	top: 0.2em;
	color: #ffc940;
	padding: 0.1em;
}

#menu:after {
  content: " \2630 ";
	color: #ffc940;
}
