
#wrapper{
	background-color: #0FAB8E;
	width: 100%;
	max-width: 1000px;
	border: solid 1px black;
	margin: 1em;
}

#responsive{
	background-color: #4BBAA9;
	width: 50%; 		/* 500px */
	padding: 2%;		/* 10/ 500 = 0.02 */
	margin: 0 auto;
	border: solid 1px black;
}

#web{
	background-color: #48D4C6;
	width: 	80%; 		/* 400/500 = 0.8 */
	padding: 2.5%;		/* 10/400 = 0.025 */
	margin: 2%;			/* 10/500 = 0.02 */
	border: solid 1px black;
}

#design {
	background-color: #56FFDB;
	width: 	62.5%;		/* 250/400 = 0.625 */
	padding: 4%;		/* 10/250 = 0.04 */
	margin: 2.5%;		/* 10/400 = 0.025 */
	border: solid 1px black;
}

/* Debugging */
#debug {
	text-align: center;
	max-width: 1000px;
}