<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" >	
	<title>The Tower Of London</title>

	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet'>

	<link rel="stylesheet" href="css/normalize.css" >
	<link rel="stylesheet" href="css/grid.css" >
	<link rel="stylesheet" href="css/style.css" >

	<meta name="viewport" content="width=device-width, initial-scale = 1.0">
	
</head>

<body>
	
	<div class="container clearfix">
	
		<div class="grid_whole header">
			<h2>British Antarctic Survey Halley Research Station</h2>
		</div>	

		<div class="grid_quarter">
			<h4>Research Station</h4>
			<img src="media/halleyA.jpeg" />
			<p>The British Antarctic Survey's new research station at Halley Bay is a portable pod structure that uses scent, colour and curves to take the edge off the world's longest winter</p>
		</div>
	
		<div class="grid_quarter">
			<h4>Hugh Broughton</h4>
			<img src="media/halleyB.jpeg" />
			<p>The British Antarctic Survey's new research centre, Halley VI, by architects Hugh Broughton.</p>

		</div>

		<div class="grid_quarter">
			<h4>Halley Bay</h4>
			<img src="media/halleyC.jpeg" />
			<p>The British Antarctic Survey's new research station at Halley Bay is a portable pod structure that uses scent, colour and curves to take the edge off the world's longest winter</p>
		</div>

		<div class="grid_quarter">
			<h4>Extreme isolation</h4>
			<img src="media/halleyD.jpeg" />
			<p>The British Antarctic Survey's new research centre, Halley VI, by architects Hugh Broughton.</p>

		</div>
		<!-- .................................................................... -->

		<div class="grid_half">
			<h4>Research Station</h4>
			<img src="media/halleyE.jpeg" />
			<p>Its drum-like shapes are designed to be as efficient as possible in retaining heat. The European Space Agency has studied the effects on inhabitants of extreme isolation here, to see how astronauts could cope with long space missions</p>
		</div>
	
		<div class="grid_half omega">
			<h4>The British Antarctic Survey</h4>
			<img src="media/halleyF.jpeg" />
			<p>The problems were that its interiors had no light, its shape deformed under the weight of snow, and inhabitants had to live with the sound of ice cracking overhead. It was eventually completely engulfed and abandoned in 1992</p>

		</div>	

		<div class="grid_whole copyright">
			<p>Copyright all text and images Guardian.co.uk</p>
		</div>	
	</div>
	
</body>
</html>