* {
  box-sizing: border-box;
}

body{
	font-family: "Gill Sans", serif;
	line-height: 1.6;
}

img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.cf:after {
     clear: both;
     content: " ";
     display: block;
     font-size: 0;
     height: 0;
     visibility: hidden;
}