<!DOCTYPE html> 
<html lang="en">
    <head> 
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width,initial-scale=1.0"> 
        <title>FlexBox</title> 
        <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,800' rel='stylesheet' type='text/css'> 
        <link rel="stylesheet" href="styles/base.css" media="screen">

    </head> 
    <body>

        <div>
            <div class="box light">Ribblesdale Blue Goat</div>
            <div class="box light">Lord of the Hundreds</div>
        </div>
         
        <div>       
            <div class="box dark">Crowdie</div>
            <div class="box dark">Gevrik</div>
            <div class="box dark">Caboc</div>
            <div class="box dark">Tesyn</div>
            <div class="box dark">Gallybagger</div>
        </div>
 
        <div>
            <div class="box light">Beacon Fell Traditional Lancashire</div>
        </div>

        <div>       
            <div class="box dark">Sussex Slipcote</div>
            <div class="box dark">Stinking Bishop</div>
            <div class="box dark">Cornish Yarg</div>
            <div class="box dark">Fine Fettle</div>
        </div> 

   </body>
</html>
