body {
	font-family: "Roboto Condensed", sans-serif;
	background: url( "media/motor_jacques_henri_lartigue.jpg") no-repeat;
}

#wrapper{
	margin: 0 auto;
	padding: 1em 0 0 10em;
}

a { 
	border-radius: 4px;
 	color: #ffff05;
	cursor: pointer;
	display: block;							
	font-size: 1.2em;
 	letter-spacing: 0.1em;
	margin: 1em;
 	max-width: 280px;
	padding: 1em;
	text-align: center;
	text-decoration: none;					
}

#opacity_demo{
	background-color: #000000;
	opacity: 0.25;
} 
#opacity_demo:hover{
	opacity: 0.5;
} 

#rgba_demo{
	background-color: #000000;				/* Fallback colour for IE6-8 */
	background-color: rgba( 0,0,0,0.25 );
} 	

#rgba_demo:hover{
	background-color: rgba( 0,0,0,0.5 );
} 	

/* 
Create PNG as 1 fully opaque image.
Then change the opacity in CSS, rather than creating multiple images.
*/

ul{
	list-style-type: none;
	margin-top: 24em;
}

li{
	float: left;
	margin-right: 1em;
}


#fade50{
	opacity: 0.5;
}
#fade40{
	opacity: 0.4;
}
#fade20{
	opacity: 0.2;
}
#fade10{
	opacity: 0.1;
}
