*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
	font-family: futura, sans-serif;
}

.container {
	margin: 0 auto;
	max-width: 60em;
	width: 90%;
}

img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
