body {
	font-family: Menlo, monospaced;
	font-size: 100%;
}

#wrapper {
	background-color: #9FDF7B;
	border: 1px solid rgba(0,0,0,0.4);
	padding: 1em;
	margin: 1em auto;
	text-align: center;
	width: 1000px;
}

.column {
	background-color: #D4F9C0;
	float: left;
	margin: 0 10px;	
	min-height: 10em;
	outline: 1px solid rgba(0,0,0,0.4);
	padding: 10px;
	text-align: center;
	width: 160px;
}

img {
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}