
#content {

	background: url( ../media/herring.jpeg) no-repeat 80% 80% #444444; /* fixed */

	color:white;
	font-family: Helvetica, sans-serif;
	font-size: 1.2em;
	height:540px;
	line-height: 1.5em;
	padding: 1em;
	text-align: center;
	width:540px;
	
}
