* {
    -moz-box-sizing:border-box;  
    box-sizing:border-box;
    border:0;
    margin:0;
}


body {
    font-family: menlo, sans-serif;
}

.wrapper {
    margin: 1em auto;
    max-width: 1400px;
    background-color: rgba(45,150,255,0.2);
    border: solid 2px #BEBBBB;
}

.column {

    /* IE8+ : Make BOX MODEL work differently
    Push content inwards, when adding padding */

    box-sizing: border-box;

    background-color: #EBE8E8;
    border: solid 4px #BEBBBB;
    color: rgb( 40,48,61 );
    float: left;
    font-size: 1em;
    overflow: hidden;
    width: 18%;

    padding:20px;
    margin:4px;  

}

p {
	font-size: 0.9em;
}

img{
	max-width: 100%;
    border: 1px solid gray;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}