<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="grid.css">
	</head>
	<body>
		<div class="container clearfix">
			<div class="row clearfix">
				<div class="column one-fourth">
					<img src="media/office.jpg">
					<p>New York</p>
				</div>
				<div class="column one-fourth">
					<img src="media/stairs.jpg">
					<p>Paris</p>
				</div>
				<div class="column one-fourth">
					<img src="media/office.jpg">
					<p>New York</p>
				</div>
				<div class="column one-fourth">
					<img src="media/stairs.jpg">
					<p>Paris</p>
				</div>
			</div>
			<div class="row clearfix">
				<div class="column half">Nulla vitae elit libero, a pharetra augue. Vestibulum id ligula porta felis euismod semper.</div>
				<div class="column half">Nulla vitae elit libero, a pharetra augue. Vestibulum id ligula porta felis euismod semper.</div>
			</div>
			<div class="row clearfix">
				<div class="column one-eighth">York</div>
				<div class="column half">Paris</div>
				<div class="column one-fourth">Madrid</div>
				<div class="column one-eighth">Rome</div>
			</div>
			<div class="row clearfix">
				<div class="column full">Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch</div>
			</div>
			<div class="row clearfix">
				<div class="column one-eighth">York</div>
				<div class="column one-eighth">Rome</div>
				<div class="column one-eighth">York</div>
				<div class="column one-eighth">Rome</div>
				<div class="column one-eighth">York</div>
				<div class="column one-eighth">Rome</div>
				<div class="column one-eighth">York</div>
				<div class="column one-eighth">Rome</div>
			</div>
		</div>
	</body>
</html>

