/* Styles.css */

body {
	font-family: Arial, serif;
	line-height: 1.4em;
	font-size: 100%;
}

p {
	padding: 0.5em;
}

div p {
	border:1px solid rgba(0,0,0,0.4);
	margin:1em 0;
}

img{
	display: block;
	margin: 0 auto;
}

/* A DIV with a class of "history" */
div.history {
	background-color: #EFEFEF;
}

/* A DIV that contains an element with a class of "history" */
div .history {
	background-color: #EBFEEE;
}

/* An element with a class of "history" that contains a DIV */
.history div {
	background-color: #E8E4FE;
}

/* An element with a class of "history" , whose immediate descendant is a DIV */
.history > div {
	background-color: #ECFED7;
}