
body {
	font-family: Georgia, sans-serif;
	line-height: 1.4em;
}

body, h1, div, p {
	outline: 1px solid #6bcb26;
	margin: 4px;
	padding: 4px;
}

span, em {
	outline: 1px solid #f57d1d;
	font-weight: bold;
}

#arch {
	background-color: rgba( 148,140,255,0.2 );
}

.fact {
	color : #b74704;
	font-family: Verdana, serif;
	/* 0.8em is 80% of the pixel size of the containing element. */
	font-size: 0.8em;
}

#arch .fact{
	font-style: italic;
}

#wiki {
	color: #2fb014;
}