<!DOCTYPE html> 
<html lang="en">
    <head> 
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width,initial-scale=1.0"> 
        <title>FlexBox</title> 
        <link href='http://fonts.googleapis.com/css?family=Signika+Negative' rel='stylesheet'> 
        <link rel="stylesheet" href="styles/base.css" >

    </head> 
    <body>

        <div class="wrapper">

            <section>
                <img src="media/a.jpg" >
                <section >
                    <h4>What are media objects?</h4>
                    <p>"What is the internet made of? At least the UI layer is mainly composed of media blocks." <span>Nicole Sullivan</span></p>
                </section>
            </section>

            <section>
                <img src="media/b.jpg" >
                <section >
                    <h4>What are media objects?</h4>
                    <p>"What is the internet made of? At least the UI layer is mainly composed of media blocks." <span>Nicole Sullivan</span></p>
                </section>
            </section>
        </div>

   </body>
</html>

<!-- Credits :
    http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
    http://philipwalton.github.io/solved-by-flexbox/
-->
