html, body {
    margin: 0;
    padding: 0;
}
body {
    font-size: 100%;
    font-family: "Roboto Condensed", sans-serif;
    /*border-top: 1em solid #00a754;*/
    color: #1a1919;
    line-height: 1.5;
    background-color: #ededed;
    margin-top: 1em;
} 

.grid-unit {
    outline: 1px solid rgba(0,0,0,0.2);
    box-sizing: border-box;
    float: left;
    padding: 0 1.5em;
    width: 100%;
    margin: 0.25em;
}
