* {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

/* Recognise HTML5 semantic tags as block level elements on IE8- */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

