body {
	font-family: "Roboto Condensed", sans-serif;
	background: url( "media/motor_jacques_henri_lartigue.jpg") no-repeat;
}

#wrapper{
	margin: 0 auto;
	padding: 1em 0 0 10em;
}

a {
	border-radius: 4px;
 	color: #ffff05;
	cursor: pointer;
	display: block;
	font-size: 1.2em;
 	letter-spacing: 0.1em;
	margin: 1em;
 	max-width: 280px;
	padding: 1em;
	text-align: center;
	text-decoration: none;
}



ul{
	list-style-type: none;
	margin-top: 24em;
}

li{
	float: left;
	margin-right: 1em;
}
