body {
	font-family: 'Helvetica', sans-serif;
}

.container{
	width: 90%; 
	margin: auto;
	margin-top: 20px;
	max-width: 1200px;
}

.panel {
	background-color : rgba( 216,208,255,0.1 );
	float: left; 
	margin: 0.5em;
	/*min-height: 22em;*/
	border : 1px solid rgba(0,0,0,0.1);
	padding: 0.5em;
	width: 240px;
}

h4 {
	font-size: 1em;
	text-align: center;
	margin: 0.5em;
}

img {
	margin: 0 auto;	
	max-width: 100%;
	display: block;
	border: 6px solid rgba( 154, 114, 54, 0.1);
}

p {
	min-height: 8em;
	font-size: 0.9em;
}

.button { 
	/*border-radius: 10px;*/
	cursor: pointer;
	display: block;							
	padding: 0.5em 0;
	text-align: center;
	text-decoration: none;						 	
 	letter-spacing: 0.2em;
	color: #FFFFFF;
 	background-color: rgba(124,158,102,0.6);
 	border: 1px solid rgba( 0,0,0,0.1);
 	
}

#copyright{
	clear: both;
	color: rgba( 154, 114, 54, 0.4);
	text-align: center;
	padding: 10px;
}
