/* Adapted from an original idea by http://builtbyboon.com */

/* GENERAL -------------------------------------------------------------------------- */ 

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  width: 90%;
  margin: 2em auto; 
}

p {
  text-align: justify;
  margin: 0 0 1.5em 0; 
}

h4 {
  margin-top: 1em; 
}

img {
	max-width: 100%;
	display: block;
	border: 2px solid rgba( 68, 229, 229, 0.4);
	margin-bottom: 1em;
	border-radius: 0.2em;
}

.grid-wrap {
  margin-left: -3em;
  overflow: hidden;
  clear: both; 
}

.grid-col {
  float: left;
  padding-left: 2em;
  padding-right: 1em;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}


ul.grid-wrap,
ol.grid-wrap {
  padding-left: 0;
  list-style: none; 
}

li.grid-col {
  margin-left: 0;
  margin-bottom: 0; 
}


.tablet-col-100 {
	width: 100%; 
}

.tablet-col-60 {
	width: 60%; 
}

.tablet-col-40 {
	width: 40%; 
}

.tablet-col-25 {
	width: 25%; 
}
       


#upper {
	background-color: rgb( 208,215,217 );
	background-color: rgba( 208,215,217,0.2 );
	border-bottom: solid 1px #B4B4B4;
  border-top: solid 1px #B4B4B4;
}

.divider {
  border-bottom: solid 1px #B4B4B4;
}


.grid, .copy {
	clear: both;
	color: #DDDDDD;
	margin: 0.2em 0;
	float: right;
  text-align: right;
}


  ul {
    display: block;
    list-style: none;
  }
  
  ul li{
    float: right;
    margin-bottom: 5px;
    margin-left: 40px;    

  }

  ul li a {
        text-decoration: none;
        font-size: 1.2em;
        color: #000000;
  }



