<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Emotional Baggage</title>

  <link rel="stylesheet" href="css/normalize.css">

    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />

</head>

<body>

  <h2>Emotional Baggage</h2>

<div class="grid">
   <div class="col-60">
     <div class="module">
       <h3>The bag</h3>
				<p>This bag celebrates one of the most glamorous projects any of us can undertake: learning how to carry our emotional baggage well.</p>	
     </div>
   </div>
   <div class="col-40">
     <div class="module">
     		<h3>The idea</h3>
				<p>It’s not possible to go through life without burdens of this kind. But it makes an enormous difference</p>	
     </div>
   </div>
</div>

<div class="grid grid-pad">
   <div class="col-40">
     <div class="module">
     		<h3>40% Fathom it</h3>
         <p>how to fathom it, how to set it in context and how to warn others of its existence in good time</p>         
     </div>
   </div>
   <div class="col-60">
     <div class="module">
     		<h3>60% The School Of Life</h3>
        <p>This is emotional baggage badly carried. At The School of Life, we believe in trying to learn ways to be more deft about the damage we are burdened with</p> 

     </div>
   </div>
</div>

<div class="grid grid-pad">
   <div class="col-1-8">
     <div class="module">
     		<img src="media/emotbaga.png" />
     </div>
   </div>
   <div class="col-1-8">
     <div class="module">
        <img src="media/emotbagb.png" />
     </div>
   </div>
  <div class="col-1-8">
     <div class="module">
        <img src="media/emotbagc.png" />
     </div>
   </div>
  <div class="col-1-8">
     <div class="module">
        <img src="media/emotbagd.png" />
     </div>
   </div>

   <div class="col-1-8">
     <div class="module">
        <img src="media/emotbaga.png" />
     </div>
   </div>
   <div class="col-1-8">
     <div class="module">
        <img src="media/emotbagb.png" />
     </div>
   </div>
  <div class="col-1-8">
     <div class="module">
        <img src="media/emotbagc.png" />
     </div>
   </div>
  <div class="col-1-8">
     <div class="module">
        <img src="media/emotbagd.png" />
     </div>
   </div>
</div>

<div class="grid grid-pad">
     <div class="col-1-8">
     <div class="module">
        <h3>1/8</h3>
     </div>
   </div>
   <div class="col-1-8">
     <div class="module">
     		<h3>1/8</h3>
     </div>
   </div>
   <div class="col-1-2">
     <div class="module">
     		<h3>1/2</h3>
     </div>
   </div>
  <div class="col-1-4">
     <div class="module">
     		<h3>1/4</h3>
     </div>
   </div>
</div>

<div class="grid grid-pad">
   <div class="col-100">
     <div class="module">
        <p>Original grid code by Chris Coyier Copyright (c) 2014 (http://codepen.io/chriscoyier/pen/eGcLw)
</p> 
     </div>
   </div>
 </div>
</body>

</html>