body {
	font-family: Arial, sans-serif;
}

ul{
	list-style: none;
	margin: 2em;
}

li {
	float: left;
	margin-right: 1em;
	cursor: pointer;
}

/* 
Run this with iPad emulation turned on.
Hover states are lost on touch devices.
*/

#dabfish:hover{
	transform: skew(2deg);
}

#gurnard:hover{
	transform-origin: left top;
	transform: rotate(15deg);
}

#herring:hover{
	transform: translate(0%, 10%);
}

#pouting{
	/*transform: rotate(5deg);	*/
	transition: transform 0.1s linear;
}

#pouting:hover{
	/* Other transforms are lost, unless repeated here */
	transform: scale(1.1,1.1);
}

#credit{
	font-size: 0.8em;
	opacity: 0.4;
	text-align: right;
	padding: 0;
}

.cf:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}