body {}

.container{
	width: 90%; 
	margin: auto;
	margin-top: 20px;
	max-width: 1200px;
}

.logo {
 	background-image:  url(../media/low.jpeg) ;
 	background-repeat: no-repeat;
 	height: 1024px;
 	width: 1490px;
}

@media screen and (min-width:1000px) {
    .logo {
             background-image: url(../media/high.jpeg);
    }
}