
#wrapper{
	background-color: #0FAB8E;
	width: 1000px;
	border: solid 1px black;
	margin: 1em;
}

#responsive{
	background-color: #4BBAA9;
	width: 500px;
	padding: 20px;
	margin: 0 auto;
	border: solid 1px black;
}

#web{
	background-color: #48D4C6;
	width: 	400px;
	padding: 10px;
	margin: 10px;
	border: solid 1px black;
}

#design {
	background-color: #56FFDB;
	width: 	250px;
	padding: 10px;
	margin: 10px;
	border: solid 1px black;
}

/* Debugging */
#debug {
	text-align: center;
	max-width: 1000px;
}