
body {
	font-family: Georgia;
}

div,p {
	border : 1px solid black;
	padding: 4px;
	margin: 4px;
	line-height: 1.6;
	font-size: 1.1em;
}

div{
	width: 50%;
}

p {
	background-color: #E4D582;
}

/*p {
	position: relative;
	top: 20px;
	left: 20px;
}*/

/*p {
	position: absolute;
	top: 20px;
	left: 20px;
}*/