<!DOCTYPE html> 
<html lang="en">
    <head> 
        <meta charset="utf-8"> 
        <title>Simple GRID</title> 

        <link rel="stylesheet" href="styles/normalize.css" media="screen">
        <link rel="stylesheet" href="styles/base.css" media="screen">

    </head> 
    <body>

        <div class="row cf">
            <div class="column">
                <p>A</p>
            </div>
            <div class="column">
                <p>B</p>
            </div>
            <div class="column">
                <p>C</p>
            </div>
            <div class="column">
                <p>D</p>
            </div>
            <div class="column">
                <p>E</p>
            </div>
        </div> 

        <div class="row cf">
            <div class="column">
                <p>London</p>
            </div>
            <div class="column">
                <p>New York</p>
            </div>
            <div class="column">
                <p>Paris</p>
            </div>
            <div class="column">
                <p>Rome</p>
            </div>
            <div class="column">
                <p>Madrid</p>
            </div>
        </div> 
   </body>
</html>
