* {
  box-sizing: border-box;
}

body{
	font-family: Arial, sans-serif;
}

.container {
	margin: 0 auto;
	max-width: 60em;
	width: 90%;
	/*background-color: #888888;*/
}

img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.row {
	background-color: #C5ADA2;
	padding: 1em;
	outline: solid 1px white;
	margin: 1em auto;
	/*text-align: center;*/
}

.row:first-of-type, .row:last-of-type{
	margin: 0;
}

.column {
	float: left;
	margin-left: 2%;
	border: solid 1px white;
	padding: 2em 1em;
	color: white; /*rgba(255,255,255,0.8);*/
	overflow: hidden;
	text-align: center;
}
 
.column:first-child {
  margin-left: 0;
}

.column.full {
  width: 100%;
}

.column.one-eighth {
  width: 10.75%;
}

.column.one-fourth {
  width: 23.5%;
}

.column.half {
  width: 49%;
}

.cf:after {
     clear: both;
     content: " ";
     display: block;
     font-size: 0;
     height: 0;
     visibility: hidden;
}