/*
A 1000px wide fixed GRID with 65 pixel columns, 
and 20 column gutters. 
*/

.container{
	width: 1000px;
	max-width: 1000px;
	margin: auto;
}

.grid_quarter { 
	width: 240px; 
}
.grid_half { 
	width: 490px; 
}
.grid_whole { 
	width: 990px; 
}

.grid_quarter,
.grid_half,
.grid_whole {
	outline : 1px solid rgba(0,0,0,0.1);
	display: block;
	float: left;
	margin: 5px;
	overflow: hidden;
}

.alpha{margin-left:0px;}
.omega{margin-right:0px;}

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}