<!DOCTYPE html> 
<html lang="en">
    <head> 
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width,initial-scale=1.0"> 
        <title>Responsive GRID</title> 
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="styles/normalize.css" media="screen">
        <link rel="stylesheet" href="styles/base.css" media="screen">

        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="js/grid.js"></script>

    </head> 
    <body>
        <div class="grid features">

            <div class="grid-unit">
                <p>Feature A</p>
            </div>
            <div class="grid-unit">
                <p>Feature B</p>
            </div>
            <div class="grid-unit">
                <p>Feature C</p>
            </div>
            <div class="grid-unit">
                <p>Feature D</p>
            </div>
            <div class="grid-unit">
                <p>Feature E</p>
            </div>

        </div>  

   </body>
</html>
